div#info
	div.photo
		img(src = "images/content/photo_green.jpg" height="280" width="280")
	div.personal-info
		div.name-position
			div.name Alver Alexander Grisales Ortega
			div.position Developer Senior
		div(class="header-block block")
			h2 Profile Description
			div.block-content
				p Developer Senior in diferent tecnology
div.content-inner
	div.left-sidebar
		div#information.block
			h2 Information
			div.block-content
				div.field
					span.label First Name:
					span.text Alver Alexander
				div.field
					span.label Last Name:
					span.text Grisales Ortega
				div.field
					span.label Age:
					span.text 25
				div.field
					span.label From:
					span.text Colombia
				div.field
					span.label Lives In:
					span.text Colombia
		div#skills.block
			h2 Skills
			div.block-content
				div.field
					span.label Years in Business:
					span.text 3
	div.content

